@font-face {
    font-family: 'font-tittle-func';
    src: url(../../fonts/Anton-Regular.ttf);
}
.box-cad-prod{
    min-width: 100%;
    margin-top: 100px;
    margin-bottom: 70px;
    position: relative;
}
.box-cad-prod h1{
    color: black;
    font-family: 'font-tittle-func';
    font-size: 30px;
    margin-bottom: 30px;
}
.form-cadastro-prod{
    border: 2px solid;
    padding: 20px;
    width: 50%;
    background: linear-gradient(to right, #0a0d15, #0d1323);
    border-radius: 5px;
}
.inputs{
    padding: 5px;
    background-color: lightgray;
    border-radius: 10px;
    color: black;
}
.inputs:focus{
    outline: none;
}
#produto, #descricao, #fornecedor{
    width: 90%;
}
#valor{
    margin-top: 10px;
}
#descricao{
    margin-top: 15px;
    padding: 5px;
    background-color: lightgray;
    border-radius: 10px;
    color: black;
}
#descricao:focus{
    outline: none;
}
#img{
    color: black;
    width: 45%;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box-msg-error{
    position: absolute;
    top: 50%;
    background-color: #c8d274;
    display: none;
    padding: 10px;
    margin-left: 5%;
    border-radius: 10px;
}
.msg-error{
    position: relative;
}


